<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colleges</title>
</head>
<body>
    <h1>Colleges</h1>
    <ul>
        <% for(let college of colleges) {%>
            <li><a href="/colleges/<%= college._id %>"><%= college.name %></a></li>
        <% } %>  
    </ul>

    <a href="/colleges/new">New College</a>
</body>
</html>