<% layout('layouts/boilerplate') %> 
    <form action="/soccerfields/<%= soccerfield._id %>?_method=PUT" method="POST">
        <div>
            <label for="title">Title</label>
            <input id="title" type="text" name="soccerfield[title]" value="<%= soccerfield.title %>">
        </div>
        <div>
            <label for="location">Location</label>
            <input id="location" type="text" name="soccerfield[location]" value="<%= soccerfield.location %>">
        </div>
        <button>Add Soccerfield</button>
    </form>

    <p><a href="/soccerfields/<%= soccerfield._id %> ">Volver a la cancha</a></p>
    <a href="/soccerfields">Volver a inicio</a>