<% layout('layouts/boilerplate') %> 
    <h1>All Soccerfields</h1>
    <ul>
        <% for (let s of soccerfield) { %>
            <li><a href="/soccerfields/<%= s._id %>"><%= s.title %></a> </li>
        <% } %> 
    </ul>

    <a href="/soccerfields/new">Nueva Cancha</a>
