<% layout('layouts/boilerplate') %> 
<h1>Nueva Cancha</h1>
    <form action="/soccerfields" method="POST">
        <div>
            <label for="title">Title</label>
            <input id="title" type="text" name="soccerfield[title]">
        </div>
        <div>
            <label for="location">Location</label>
            <input id="location" type="text" name="soccerfield[location]">
        </div>
        <button>Add Soccerfield</button>
    </form>

    <a href="/soccerfields">Volver a inicio</a>
