<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Course</title>
</head>
<body>
    <h1>New Course</h1>
    <form action="/colleges/<%= id %>/courses" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="course[name]" id="name">
        
        <label for="teacher">Teacher:</label>
        <input type="text" name="course[teacher]" id="teacher">
        
        <label for="weeks">Weeks:</label>
        <input type="number" name="course[weeks]" id="weeks">

        <button>Submit</button>
    </form>
</body>
</html>