<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>The Home Page <%= 'hello world'.toUpperCase() %></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque unde aperiam maiores perspiciatis, nihil
        corporis cupiditate ipsum alias aut temporibus, accusamus odio asperiores eveniet distinctio delectus quos.
        Facilis, quae natus!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quia molestias nesciunt eum a maxime
        iure, aliquam libero ipsam sapiente distinctio cumque, autem et voluptates ullam modi perferendis blanditiis
        quam.</p>
</body>

</html>